body{
    display: block;
    overflow-x: hidden;
}

.head{
    background: #ffffff;
    text-decoration: none;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    height: 40px;
}

.logo{
    display: block;
    float: left;
    height: 20px;
    width: 200px;
}

.logo a {
    text-decoration: none;
    font-size: 40px;
}


.main_container{
    background: #e3dfdb;
    text-align: center;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "proxima-nova","helvetica","arial","san
}

#welcome{
    text-decoration: underline;
}

#team_img{
    width: 100%;
}

.statement{
    text-align: left;
    background: #ffffff;
    padding: 30px;
    word-spacing: 5px;
    margin-top: 20px;
}

.services{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%
}

#s1{
    background: #F0FFFF;
    margin: 10px;
    width: 1500px;

}
#s2{
    background: #FFFAFA;
    margin: 10px;
    width: 1500px;
}
#s3{
    background: #F0FFFF;
    margin: 10px;
    width: 1500px;
}
#s4{
    background:  #FFFAFA;
    margin: 10px;
    width: 1500px;
}

.team_section{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background: #ffffff;

}

#team_heading{
    text-align: left;
}

#t1, #t2, #t3, #t4, #t5{
    margin: 10px;
    width: 1500px;
}

#team_img{
    border: solid 1px;
    border-radius: 40%;
    background-position: center center;
}

.footer{
    display: flex;
    background-color: #231f20;
    height: 50px;
    padding-top: 5px;
    padding-right: 30px;

    
}

#ico{
    margin: 20px;
}

